h1{
  font-size: 20px;
  text-align: left;
}


.h2proyect{
  text-align: left;
  font-size: 18px:
}
.h3proyect{
  text-align: left;

  text-align: center;
}

.footercenter{
  text-align: center;
}
.footercolor{
  background-color: white;
}
.pproyect{
  text-align: left;
}
.pfooter{
  color: black;
}
.afooter{
  color: #689ACA;
}
.afooter:hover{
  color: #000000;
}
.aproyect{
  color: white;
}

.content-section-grey{
  background-color: #212121;
}

.content-section-greym{
  background-color: #303030;
}

.content-section-greymi{
  background-color: #424242;
}

.content-section-grey{
  background-color: #212121;
}

img.resize{
  width: 80%;
}
img.resize2{
  width: 90%;
}
img.resize3{
  width: 40%;
}
img.resize4{
  width: 60%;
}
